@media only screen and (min-width: 100px) and (max-width: 768px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        
        background-color: aqua;
    }
    img{
    width: 100%;
    height: auto;



}

.inicio .c1{
display: flex; flex-direction: column;
}

    #presentacion{
    
        background-color: blueviolet;
        display: grid;
        grid-template-columns:1fr;
     
        
    }
    .acerca{
        display: grid;
        background-color: yellow;  
    }
    #perfilIm {
        display: grid;
        height: auto;
        width: 100%;
        object-fit: contain;
     
    }
    .presentacion2{
        display: grid;
        background-color: green; 
      
    }   
    .imgperfil{
        
    width: 100%;
    height: auto;
    }

    #proyectoHabilidades{
        background-color: teal;
        display: grid;
        grid-template-columns:1fr;

    }
    #contacto{
        background-color: goldenrod;
        

    }
    .fomularioC{
        background-color: purple;
    }
    .fomulario1 form{
        
        display: flex; flex-direction: column;
    }
    #imglogos2{
        background-color: blue;
    }
    #imagenes{
        background-color: royalblue;
    }
}