html,body{
    height:100%;
    width:100%;
}

#triangulo{
    display: flex;

    
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
body{
    margin: 0%;
    border: 0px;
    padding: 0%;
    background: #797a75 ;
    display: grid;
    row-gap:  0.5rem;
    column-gap: 0.5rem;
    grid-template-areas: 'r11 r11 r11'
                        'r21 r21 r21' 
                        'r0 r0 r0'
                        'r31 r31 r31'
                        'r1 r1 r1'
                        'r41  r41 r41'
                        'r51 r52 r52'
                        'r61 r62 r63'
                        'r71 r71 r71';
                        
    
}
.controlButton1{
    grid-area: r11;
    justify-self:center}
    

.imagenes{
    grid-area: r21;
   /* justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
*/  
display: grid;

grid-auto-columns: 500px;

row-gap:  0.5rem;
column-gap: 0.5rem;



grid-template-areas: 'x y z'
;
}
    
  #logo{
       display:grid;
grid-area: z;
    
    
}
#triangulo{
    display:grid;
    grid-area: x;
}


#presentacion{
    grid-area: r31;
    display: grid;
    justify-self:center;
    grid-auto-columns: 500px;

    row-gap:  0.5rem;
    column-gap: 0.5rem;


    
    grid-template-areas: 'a a1 a2'
                        'b a1 b2'
                        'c c c'
    ;
    
}

#perfilIm {
    
    height: 100%;
    width: 100%;
    object-fit: contain;
    
 
}
.audio{
    grid-area:c ;
}

#presentacion .imgperfil{
    grid-area: a;
    height:200px;
    width: 300px;
}
.acerca{
    grid-area: a1;
}
.presentacion2{
    grid-area: b;
}
#proyectoHabilidades{
    grid-area: r41;
    justify-self:center;
}
.table{
    height: 100%;
    width: 100%;
    object-fit: contain;    
}
#java{
    width: 30%;
    height: 30%;
}
#python{
    width: 30%;
    height: 30%;
}
#c {
    width: 30%;
    height: 30%;
}
#contacto{
    grid-area: r51;
    justify-self:center;
    display: grid;
    grid-auto-columns: 300px;
    

    row-gap:  0.5rem;
    column-gap: 0.5rem;


    
    grid-template-areas: 'f1 f2 f3'
    ;


}
.mapa{
    grid-area:f1;
}
.acerca1{
    grid-area: f3;
}
.fomulario1{
    grid-area: r61;
    
}
.imglogos{
    grid-area: r62;
  
       
    ;
}
.imglogos{
    padding: 0;
    grid-area: r71;
}

#linked1{
 
   
    width: 10%;
    height: 10%;
}
#git1{

    width: 10%;
    height: 10%;

}