html,body{
    height:100%;
    width:100%;
}

#triangulo{
    display: flex;

    
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}
body{
    margin: 0%;
    border: 0px;
    padding: 0%;
    background: #797a75 ;
    display: grid;
    row-gap:  0.5rem;
    column-gap: 0.5rem;
    grid-template-areas: 'r11' 'r12' 'r13'
                        'r21' 'r21' 'r21' 
                        'r0' 'r0' 'r0'
                        'r31' 'r31' 'r31'
                        'r1' 'r1' 'r1'
                        'r41' 'r41' 'r41';
    
}
.controlButton1{
    grid-area: r12;
}
#logo{
    display: flex;
   
}
.imagenes{
    grid-area: r21;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }


.p1{
    width: 48%;}

.p2{
    width: 48%;
}
#presentacion{
    grid-area: 31;
    display: grid;
    grid-auto-columns: 500px;

    row-gap:  0.5rem;
    column-gap: 0.5rem;
    grid-template-areas: 'a a1 a2'
                        'b a1 b2'
                        'c c c'
    ;
    
}

#perfilIm {
    
    height: 100%;
    width: 100%;
    object-fit: contain;
    
 
}
.audio{
    grid-area:c ;
}

#presentacion .imgperfil{
    grid-area: a;
    height:200px;
    width: 300px;
}
.acerca{
    grid-area: a1;
}
.presentacion2{
    grid-area: b;
}
#proyectoHabilidades{
    grid-area: 41;
}
.table{
    height: 100%;
    width: 100%;
    object-fit: contain;    
}
#java{
    width: 30%;
    height: 30%;
}
#python{
    width: 30%;
    height: 30%;
}
#c {
    width: 30%;
    height: 30%;
}