html,body{
    height:auto;
    width:100%;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;


font-size: 16px;
line-height: 1.8;
font-weight: 400;

}

div:hover{


    transform:  scale(1.02);
    backface-visibility: hidden;    
}
body{
    margin: 0%;
    border: 0px;
    padding: 0%;
    background: #1a69c4 ;
    display: grid;
    row-gap:  0.5rem;
    column-gap: 0.5rem;
    grid-template-areas: 'r11'
                        'r22'
                       
                        'r31 '
                        
                        'r41'
                        'r51'
                        'r61'
                        'r71'
                        'r81';
    
}
footer{
    grid-area: r81;
    justify-content: center;
}

header{
grid-area: r11;
display: flex;
justify-content: space-between;
width: auto;


}
.imglogo1{
    display: flex;
    max-width: 220px;
}

img {
    max-width: 400px;
    border: 5px dashed white;
    margin-left: auto;
    margin-right: auto;
    margin:10px auto;
}

    .inicio{
        height: 500px;
        width: 100%;
        grid-area: r22;
        background-image: url("img/fondo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        font-size:50px;
        
            
        
}


  .google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    
    display: flex;
    border: solid blue;
    border-radius: 20px;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    
    display: flex;
    border: solid blue;
    border-radius: 20px;
  }
.menu .D1 input[type="submit"]:hover{
    -webkit-transform: translateY(-5px);
transform: translateY(-5px);
}




    
.inicio .c1{
    color: black !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #f82408;
  transition: all 1s ease;
  position: relative;

}
.inicio .c1:hover {
    background: #318aac;
    color: #fff !important;
    
  }
.c1:hover:before {
width: 100%;
}
#presentacion {
   display: flex;
    grid-area: r31;

    flex-wrap: wrap;
    row-gap: 0.5rem;
    row-gap: 0.5rem;
    justify-content: space-between;
    
}
h1{
    color: white;
}
p{
    color:white;
}
li{
    color:white;
}
#presentacion .a{
    color: blue;
}
#presentacion .b{
    color: white;
}
#presentacion .fila1p {
    padding: 0;
    margin: 0;
    width: 45%;
    border: solid white;
    border-radius: 20px;
}
#perfilIm{
    max-height: 50%;
    max-width: 50%;
    border: solid white;
    border-radius: 20px;
}
#presentacion .audio{
    width: 100%;
    border: solid white;
    border-radius: 20px;
}
#proyectoHabilidades{
height:100%;
width: 100%;
grid-area: r41;

border: solid white;
border-radius: 20px;}
.table{
        height: 100%;
        width: 100%;
        object-fit: contain;    
        
        display: table-cell;
       
        font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse;
}
th {   text-align: center;  font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #ffffff;    border-bottom: 1px solid #fff; color: #039; }

td {    text-align: center; padding: 8px;     background:transparent;     border-bottom: 1px solid #fff;
    color: black;    border-top: 1px solid transparent; }

tr:hover td { background: transparent; color: #339; }
    #java{
        width: 30%;
        height: 30%;
    }
    #python{
        width: 30%;
        height: 30%;
    }
    #c {
        width: 30%;
        height: 30%;
    }
#contacto{
    display: flex;
        height:100%;
    width: 100%;
        grid-area: r51;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        row-gap: 0.5rem;
        justify-content: space-between;
    }
    #formulario{
        grid-area: r61;
        padding: 0;
        margin: 0;
        display: flex;
        border: solid white;
        border-radius: 20px;
        display: flex; flex-direction: column;
    }


    #contacto .fila2p {
        width: 50%;
        padding: 0;
        margin: 0;
        width: 45%;
        border: solid white;
        border-radius: 20px;
    }   
    

    #imglogos2{
        grid-area: r71;
        padding: 0;
        
    }
    
    #linked1{
     
       
        width: 20%;
        height: 20%;
        border: 5px dotted white;
    }
    #git1{
    
        width: 20%;
        height: 20%;
        border: 5px dotted white;
    
    }
    .menu{
        text-align: center;
    }
    

    @media only screen and (min-width: 100px) and (max-width: 768px){
        body{
            display: grid;
            grid-template-columns: 1fr;
            
            background-color: aqua;
        }
        img{
        width: 100%;
        height: auto;
    
 

    }
  
  .inicio .c1{
    display: flex; flex-direction: column;
  }

        #presentacion{
        
            background-color: blueviolet;
            display: grid;
            grid-template-columns:1fr;
         
            
        }
        .acerca{
            display: grid;
            background-color: yellow;  
        }
        #perfilIm {
            display: grid;
            height: auto;
            width: 100%;
            object-fit: contain;
         
        }
        .presentacion2{
            display: grid;
            background-color: green; 
          
        }   
        .imgperfil{
            
        width: 100%;
        height: auto;
        }

        #proyectoHabilidades{
            background-color: red;
            display: grid;
            grid-template-columns:1fr;
    
        }
        #contacto{
            background-color: goldenrod;
            
    
        }
        #fomulario1 form{
            background-color: white;
            display: flex; flex-direction: column;
        }
        #imglogos2{
            background-color: blue;
        }
        #imagenes{
            background-color: royalblue;
        }
    }